<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <h5 id="font" text-center style="color:#5e35b1">Who we are?</h5>
  <p text-justify style="color:#424242">Testbook App is founded by CFE India Pvt Ltd.We always try to delivering a more data-driven form of learning.</p>

  <h5 id="font" text-center style="color:#5e35b1">
    What we do?
  </h5>
  <p text-justify style="color:#424242">
    CFE India is a leading software provider of solutions for Web Development, Mobile App Development, Web Designing, Digital
    Marketing, and Product Development. We also provide practice for an exam- Mock Tests, Sectional Tests etc.
  </p>
  <hr>
  <h5 id="font" text-center style="color:#5e35b1">
    Contact us
  </h5>
  <p text-left style="color:#424242">
    #B3-425, 4th Floor, Spaze I Tech Park, Sohna Road, Gurugram</p>
  <p text-center style="color:#424242">
    <ion-icon name="call" class="call-icon"></ion-icon>+91 124 4002889, +91 8368549153 </p>
  <hr>
  <p text-center style="color:#424242">
    www.cfeindia.in</p>
  <p text-center style="color:#424242">
    Copyright @ 2018 cfeindia.in
  </p>

</ion-content>
