page-login {
  .app-control:focus {
    box-shadow: inset 0px 0px 5px 0px #525252;
    background: transparent;
    color: #000;
  }

  .button-clear-md {
    color: #fa4659;
    margin-left: 0px;
  }

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: #524d4d;
    z-index: 999;
  }

  .item-md {
    color: #707070;
  }

  ion-icon {
    font-size: 2rem;
  }

  .mail-icon {
    padding: 4px;
  }
  .lock-icon {
    padding: 0px;
  }

  .btn-align {
    // text-align: left;
    color: #fa4659;
  }
  .ios,
  .md {
    page-login {
      .scroll-content {
        // background-color: #42c7ff;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }

      img {
        width: 50%;
        height: auto;
        margin: 0 auto;
      }

      #cloud-layer {
        background-image: url(./assets/images/1.png);
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      // ion-row {
      //   align-items: center;
      //   text-align: center;
      // }
    }
  }

  .image_align {
    margin: -6px;
  }

  .invalid {
    opacity: 0.5;
  }

  .errorMsg {
    color: red;
  }

  .icon-md-fontColor {
    color: #6a4eb7;
    font-size: 160px !important;
    text-align: center;
  }
  #button-align {
    margin-top: 32px;
    text-transform: uppercase;
    border-radius: 0;
    height: 4.6rem;
    width: 100%;
  }
}
