<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align:left">Sign In</ion-title>
  </ion-navbar>
</ion-header>


<ion-content text-center>
  <!-- <div padding [@flyInBottomFast]="cloudState" id="cloud-layer"> -->
  <ion-row class="image_align">
    <ion-col>
      <ion-icon class="person-align" color="fontColor" name="ios-person-outline"></ion-icon>
      <!-- <img style="font-size: 160px !important" src="./assets/image/logi.png" /> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <form [formGroup]="loginform" (ngSubmit)="onLogin(loginform)">
        <!-- <ion-list inset [@bounceInBottom]="formState"> -->

        <ion-item>
          <ion-label floating>

            <ion-icon name="ios-mail" class="mail-icon"></ion-icon>Email
          </ion-label>
          <ion-input type="email" formControlName="email" name="email"></ion-input>
        </ion-item>
        <div class="errorMsg" *ngIf="loginform.controls.email.errors && (fsubmitted || loginform.controls.email.dirty)">
          <p *ngIf="loginform.controls.email.invalid && loginform.controls.email.errors.required" class="inputError">Email is required !</p>
        </div>


        <ion-item>
          <ion-label floating>
            <ion-icon name="lock" class="lock-icon"></ion-icon>
            Password
          </ion-label>
          <ion-input type="password" formControlName="password" name="password"></ion-input>
        </ion-item>

        <div class="errorMsg" *ngIf="loginform.controls.password.errors && (loginform.controls.password.dirty || fsubmitted)">
          <p *ngIf="loginform.controls.password.invalid && loginform.controls.password.errors.required" class="inputError">Password is required !</p>
          <p *ngIf="loginform.controls.password.invalid && loginform.controls.password.errors.pattern" class="inputError">Password should be in alphanumeric !</p>

        </div>
        <!-- </ion-list> -->
        <ion-row>
          <ion-col col-10 offset-1>
            <button ion-button block color="customButton" class="btn-border" id="button-align" class="login-button" type="submit">Sign In</button>
          </ion-col>
        </ion-row>
      </form>
      <!-- </div> -->
    </ion-col>
  </ion-row>
</ion-content>
