<ion-header>

  <ion-navbar color="primary">
    <ion-title text-start>Test Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding>

  <form [formGroup]="Form" (ngSubmit)="onSubmit(Form)">
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-item>
            <ion-label>Test Name</ion-label>
            <ion-input style="border-bottom: none;" type="text" formControlName="testName" name="testName" placeholder='Test Name'></ion-input>
          </ion-item>
          <div class="errorMsg" *ngIf="Form.controls.testName.errors && (fsubmitted || Form.controls.testName.dirty)">
            <p *ngIf="Form.controls.testName.invalid && Form.controls.testName.errors.required" class="inputError">Test name is required !</p>
          </div>
        </ion-row>


        <ion-row>
          <ion-item>
            <ion-label>Organisation Name</ion-label>
            <ion-input type="text" style="border-bottom: none;" formControlName="orgName" name="orgName" placeholder="Name"></ion-input>
          </ion-item>
          <div class="errorMsg" *ngIf="Form.controls.orgName.errors && (fsubmitted || Form.controls.orgName.dirty)">
            <p *ngIf="Form.controls.orgName.invalid && Form.controls.orgName.errors.required" class="inputError">Org name is required !</p>
          </div>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label>Class</ion-label>
            <ion-input type="number" style="border-bottom: none;" formControlName="class" name="class" placeholder="8"></ion-input>
          </ion-item>
          <div class="errorMsg" *ngIf="Form.controls.class.errors && (fsubmitted || Form.controls.class.dirty)">
            <p *ngIf="Form.controls.class.invalid && Form.controls.class.errors.required" class="inputError">Class is required !</p>
          </div>
        </ion-row>

        <!-- <ion-row>
          <ion-item>
            <ion-label>Academic Year</ion-label>
            <ion-input type="text" style="border-bottom: none;" placeholder="2K18-19" formControlName="acdYear" name="acdYear"></ion-input>
          </ion-item>
        </ion-row> -->


        <ion-row>
          <ion-item>
            <ion-label>Academic Year</ion-label>
            <ion-datetime displayFormat="YYYY" style="border-bottom: none;" formControlName="acdYear" name="acdYear" placeholder="2018"
              required></ion-datetime>
          </ion-item>
          <div class="errorMsg" *ngIf="Form.controls.acdYear.errors && (fsubmitted || Form.controls.acdYear.dirty)">
            <p *ngIf="Form.controls.acdYear.invalid && Form.controls.acdYear.errors.required" class="inputError">Choose academic year !</p>
          </div>
        </ion-row>

        <!-- <ion-row>
          <ion-item>
            <ion-label>Subject</ion-label>
            <ion-input type="text" style="border-bottom: none;" placeholder="Math" formControlName="subject" name="subject"></ion-input>
          </ion-item>
        </ion-row> -->

        <ion-row>
          <ion-item>
            <ion-label>Subject</ion-label>
            <ion-select placeholder="Choose Subject" formControlName="subject" name="subject" style="border-bottom: none;">
              <ion-option value="Technical">Technical</ion-option>
              <ion-option value="Reasoning">Reasoning</ion-option>
              <ion-option value="Aptitude">Aptitude</ion-option>
            </ion-select>

          </ion-item>
          <div class="errorMsg" *ngIf="Form.controls.subject.errors && (fsubmitted || Form.controls.subject.dirty)">
            <p *ngIf="Form.controls.subject.invalid && Form.controls.subject.errors.required" class="inputError">Select subject for test !</p>
          </div>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label>Duration</ion-label>
            <ion-input type="text" style="border-bottom: none;" placeholder="20 min" formControlName="time" name="time"></ion-input>
          </ion-item>
          <div class="errorMsg" *ngIf="Form.controls.time.errors && (fsubmitted || Form.controls.time.dirty)">
            <p *ngIf="Form.controls.time.invalid && Form.controls.time.errors.required" class="inputError">Duration must be provided !</p>
          </div>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label>Total Marks</ion-label>
            <ion-input type="text" style="border-bottom: none;" placeholder="100" formControlName="tMark" name="tMark" class="t-border"></ion-input>
          </ion-item>
          <div class="errorMsg" *ngIf="Form.controls.tMark.errors && (fsubmitted || Form.controls.tMark.dirty)">
            <p *ngIf="Form.controls.tMark.invalid && Form.controls.tMark.errors.required" class="inputError">Total marks is required !</p>
          </div>
        </ion-row>

        <ion-row>
          <ion-col col-10 offset-1>
            <button ion-button block id="button-align" type="submit">Next</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </form>

  <!-- </ion-card> -->
</ion-content>
