page-dashboard {
  ion-select.ng-valid.ng-dirty button.item-cover{
    border-bottom:2px solid #32db64!important;
    margin-left: 15px;
  } 

  ion-select.ng-invalid.ng-dirty button.item-cover{
    border-bottom:2px solid #db3232!important;
    margin-left: 15px;
  } 

  ion-datetime.ng-valid.ng-dirty button.item-cover{
    border-bottom:2px solid #32db64!important;
    margin-left: 15px;
  } 

  ion-datetime.ng-invalid.ng-dirty button.item-cover{
    border-bottom:2px solid #db3232!important;
    margin-left: 15px;  
  }

  .item-md.item-block .item-inner{
    padding-right: 0px;
    margin-right: 0px;
  }

  #button-align {
    margin-top: 32px;
    text-transform: uppercase;
    border-radius: 0;
    height: 4.6rem;
    width: 100%;
  }
  .input-wrapper{
    padding-top: 15px;
  }

  .errorMsg{
    color: red;
    margin-left: 15px;
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md{
    color: blueviolet;
    width: 50%;         
  }

  .card-align {
    margin: 17px auto;
  }
  
  .t-border {
    border-bottom: none;
  }
  
  .list-md .item-input:last-child {
    border-bottom: none;
  }
  
  .datetime{
    margin-right: 20px;
  }
  
  .select {
    max-width: 55%;
  }
}