<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-tabs tabsHighlight="true" tabs-color-active-positive>
  <ion-tab [root]='hmPage' tabIcon="book" tabTitle="Question List">

  </ion-tab>
  <div>

    <ion-tab [root]='selectQuestion' [enabled]='isChoosed' tabIcon="checkmark" tabTitle="Selected Question">


    </ion-tab>
  </div>

</ion-tabs>
