<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      DashBoard
    </ion-title>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="showpopdown($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-menu [content]='nav'>
  <ion-header no-border>
    <ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-row>
      <ion-item>
        <a icon-left (click)='onShare()' style="color:rgb(31, 29, 29);font-size:16px;cursor:pointer">
          <ion-icon name="document"></ion-icon>Share PDF
        </a>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <a icon-left (click)='onSettings()' style="color:rgb(31, 29, 29);font-size:16px;cursor:pointer">
          <ion-icon name="settings"></ion-icon>Settings
        </a>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <a icon-left (click)='promptForAppRating()' style="color:rgb(31, 29, 29);font-size:16px;cursor:pointer">
          <ion-icon name="star"></ion-icon>Rate Us
        </a>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <a icon-left (click)='onHelp()' style="color:rgb(31, 29, 29);font-size:16px;cursor:pointer">
          <ion-icon name="help"></ion-icon>Help
        </a>
      </ion-item>
    </ion-row>

    <ion-list>
      <ion-row>
        <a (click)="onPrivacy()" class="pvc_align">
          <u>Privacy Pliocy</u> &
          <u>Terms of Use </u>
        </a>
      </ion-row>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="ishaveTest">
      <ion-col col-12>
        <ion-card-header class="msg">
          <p *ngIf="!showMsg">Pdf You Created</p>
          <p *ngIf="showMsg">Some Sample Pdf</p>
        </ion-card-header>
      </ion-col>

      <ion-col col-6 *ngFor="let pdf of pdfArray">
        <ion-card tappable (click)="navigateForward()">
          <ion-card-header>
            <img text-center src="./assets/image/24.png" />
          </ion-card-header>
          <ion-card-content>
            <button ion-button block class="cs-button ">
              {{ pdf.testName }}
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <h6 style="text-align:center; margin:0 auto; margin-top:150px ; font-size:1.2rem" *ngIf="!ishaveTest">
        No PDF Available, Please Create Test
      </h6>
    </ion-row>
  </ion-grid>
  <ion-fab>
    <button ion-fab color="primary" class="fab-add" (click)="onNewTest()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-nav [root]="rootPage" #nav>
</ion-nav>
