page-dashboard {

  .fab-add {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  // ion-buttons[start] {
  //   order: 1;
  // }

  .msg{
    text-align: center;
    font-weight: bold;
  }

  .card{
    margin-left: auto;
  }
   
  [col-6]:first-child{
    border-right: unset;
  }

  .pvc_align {
    // margin-top: 40px;
    cursor: pointer;
    margin: 70px auto;
    font-size: 16px;
  }
}

