<ion-header>
  <ion-navbar color="primary">
    <ion-title class=".title-md">
      Question List </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="no-padding">
    <!-- <ion-row *ngFor="let question of questions;let i = index" class="row-bb">
      <ion-col col-1>
        <ion-checkbox (ionChange)="onShow(i)" [checked]="question.checked" class="btn_remove"></ion-checkbox>
      </ion-col>
      <ion-col col-11>
        <p class="q-text"> {{i+1+'.'+ question.text}}</p>
      </ion-col>
    </ion-row> -->
    <ion-list *ngFor="let question of questions;let i = index" class="row-bb">
      <ion-item>
        <ion-label>{{ question.text }}</ion-label>
        <ion-checkbox (ionChange)="onShow(i)" [checked]="question.checked" class="btn_remove"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
