.alert-md .alert-title {
  font-size: 16px;
  color: #fbe9e7;
}

ion-app.md {
  font-size: 1.3rem;
}

.item.item-md .checkbox.checkbox-md{
  margin: 9px 18px 8px 4px;
}

.alert-md .alert-head {
  background-color: #6f53bc;
}
.alert-md .alert-radio-group,
.alert-md .alert-checkbox-group {
  background-color: #f5f5f5;
}

.item-input .label-md,
.item-select .label-md,
.item-datetime .label-md {
  color: white;
  z-index: 999;
}

item-select .label-md,
.item-datetime .label-md {
  color: #fff;
  z-index: 999;
}

.item-md [item-right],
.item-md [item-start],
.item-md [item-end] {
  font-size: 15px;
  color: #686868;
}

.item-md [item-left],
.item-md [item-right],
.item-md [item-start],
.item-md [item-end] {
  color: #686868;
}

menu-width {
  width: 500px;
}

.label-md {
  margin: 0px 10px 0px 0px;
}

#t-font {
  font-size: 8px;
}

.card-md {
  margin-left: 0px;
  border-radius: 2px;
}

.card-md ion-list {
  margin-bottom: -4px;
  margin-left: -3px;
}

.button-md {
  margin: 0px;
}

.cs-button {
  margin-top: -5px !important;
}

ion-buttons[start] {
  order: 1;
}

.btn_remove .item.item-md .checkbox-md {
  position: relative;
  margin: 9px 20px 9px 4px;  
}

.row-bb {
  border-bottom: 1px solid #eee;
  padding: 5px 0px;
}

.q-text {
  padding: 0px 5px;
  margin: 0px;
  color: #333;
  text-align: left;
  font-family: Roboto;
}

.no-padding {
  padding: 0px;
}
.btn-div {
  margin-left: 220px;
}

.title-md {
  margin-left: 45px;
}


.label{
  text-align: justify;
  text-overflow: ellipsis;
  white-space: unset;
}
.button[icon-only] {
  margin-left: 212px;
}
