// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.item-profile .item-avatar > img:first-child {
  max-width: 100px;
  max-height: 100px;
}

button {
  line-height: 2;
}

#f-size {
  font-size: 13px;
}
.item-profile {
  height: 150px;
  .item-avatar > img:first-child {
    max-width: 100px;
    max-height: 100px;
  }
}

.loadData{
  ion-backdrop.backdrop-no-tappable{
      cursor: auto;
      margin-top: 16%;
      background: white;
      opacity: 2!important;
  }
  .loading-wrapper{
   border-radius: unset; 
   background: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  .spinner{
      width: 38px;
      height: 38px;
   }
  .spinner-crescent circle{
      stroke: #6a4eb7;
      stroke-width: 7px;
      stroke-dasharray: 171px;
  }
  }
}

.backdrop-no-tappable{
  opacity: unset;
}

// .alertstar {
//   button {
//     width: 40px;
//     margin: 0 !important;
//     background-image: url('../assets/image/star.png');
//     background-repeat: no-repeat;
//     background-position: center;
//     color: white !important;
//   }
//   .alert-button-group {
//     padding: 0;
//     margin-top: 10px;
//     flex-direction: row;
//     justify-content: space-around;
//   }
//   border-radius: 12px;
//   .alert-wrapper {
//     border-radius: 12px;
//   }
// }
