.button-md-dark {
  margin-left: 150px;
  margin-top: 220px;
}
.button-md {
  text-transform: none;
}

.item-md p {
  margin: 0 0 2px;
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #666;
}

.item-md.item-block .item-inner {
  padding-right: 0px;
}

.item {
  margin-right: 12px;
  padding-right: 0px;
  .item-inner {
    margin-right: 10px;
    .input-wrapper {
      .label {
        margin: 13px 8px 13px 0;
      }
    }
  }
}

.fab {
  contain: layout;
}

button.fab-btn {
  position: absolute;
  top: 12px;
  text-transform: capitalize;
  text-align: right;
  right: 47px;
  padding: 5px;
  width: 200px;
  text-shadow: 2px 2px 4px #b7b1b1;
  width: 104px;
}
.fab-div {
  position: relative;
}

.q-text {
  text-align: justify;
}
