<ion-header>
  <ion-navbar color=primary>
    <ion-title id="center">Selected Question</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid class="no-padding">
    <ion-row *ngFor="let question of selectedQuestions1;let i = index" class="row-bb">
      <ion-col col-12>
        <p class="q-text"> {{i+1+'. '+ question.text}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let question of selectedQuestions1;let i = index">
      <ion-item>
        <p> {{i+1+'. '+ question.text}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list> -->

  <!-- 
  <div id="html-2-pdfwrapper" style="margin-top:20px">
    <p style="font-size: 25px;text-align: center">{{testDetails.orgName}}</p>
    <p style="font-size: 18px;text-align: center">AcademicYear : {{testDetails.acdYear}}</p>
    <p style="font-size: 18px;text-align: center">Class : {{testDetails.class}}</p>
    <p style="font-size: 18px;text-align: center">Subject : {{testDetails.subject}}</p>
  </div> -->

  <!-- <ion-grid>
    <ion-row *ngFor="let question of selectedQuestions1;let i=index">

      <div>
        <p>{{i+1}} . {{question.text}}{{question.text}}{{question.text}}{{question.text}}
        </p>
        <p>
          (a) {{question.options[0]}} (b) {{question.options[1]}} (c) {{question.options[2]}} (d){{question.options[3]}}
        </p>
      </div>
    </ion-row>
  </ion-grid> -->



  <ion-fab right bottom>
    <button ion-fab mini>
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">

      <div class="fab-div">
        <button ion-button class="fab-btn" (click)="download()">Download PDF</button>
        <button ion-fab color="primary" id="fade1">
          <ion-icon name="ios-download-outline"></ion-icon>
        </button>
      </div>

      <div class="fab-div">

        <button ion-button class="fab-btn" (click)="onCreatePdf()">View PDF</button>

        <button id="fade2" ion-fab color="primary">

          <ion-icon name="ios-document-outline"></ion-icon>
        </button>
      </div>

    </ion-fab-list>
  </ion-fab>

</ion-content>
