page-signup {
  .item-md {
    color: #707070;
    padding-left: 12px;
  }
  a[disabled],
  button[disabled],
  [ion-button][disabled] {
    margin-left: 6px;
  }

  .button-clear-md {
    margin-left: 52px;
  }

  .ion-icon {
    padding: 4px;
  }

  .ion-icon {
    padding: 4px;
  }

  // .ios,
  // .md {
  //   page-login {
  //     .scroll-content {
  //       // background-color: #42c7ff;
  //       display: flex;
  //       flex-direction: column;
  //       overflow: hidden;
  //     }

  img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  #cloud-layer {
    background-image: url(./assets/images/1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  ion-row {
    align-items: center;
    // text-align: center;
  }

  //     // ion-item {
  //     //   border-radius: 0px !important;
  //     //   padding-left: 10px !important;
  //     //   margin-bottom: 10px;
  //     //   background-color: #f6f6f6;
  //     //   opacity: 0.7;
  //     //   font-size: 0.9em;
  //     // }

  //     // ion-list {
  //     //   margin: 0;
  //     // }

  //     // .login-button {
  //     //   width: 100%;
  //     //   border-radius: 0px;
  //     //   font-size: 0.9em;
  //     //   border: 1px solid #fff;
  //     //   // background-color: #39acdc;
  //     // }
  //   }
  // }

  .btn-border {
    border-radius: 0px;
  }

  .image_align {
    margin: -6px;
    text-align: center;
  }

  #button-align {
    margin-top: 32px;
    text-transform: uppercase;
    border-radius: 0;
    height: 4.6rem;
    width: 100%;
  }

  // .button-clear-md {
  //   color: #c5b8ba;
  //   margin-left: 38px;
  // }

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: #524d4d;
    z-index: 999;
  }

  // .login-button.disable-hover.button.button-md.button-default.button-default-md.button-md-customButton.ng-trigger.ng-trigger-fadeIn {
  //   width: 100%;
  //   margin-left: 0px;
  // }

  .button-md {
    width: 100%;
  }

  .errorMsg {
    color: red;
  }
  .person-align {
    color: #6a4eb7;
    font-size: 160px !important;
    text-align: center;
  }
}
