<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align:left">Sign Up</ion-title>
  </ion-navbar>
</ion-header>
<ion-content text-center>
  <!-- <div padding [@flyInBottomFast]="cloudState" id="cloud-layer"> -->
  <ion-row class="image_align">
    <ion-col>
      <ion-icon class="person-align" color="fontColor" name="ios-person-add-outline"></ion-icon>
      <!-- <img [@flyInBottomSlow]="logoState" src="./assets/image/regis.png" /> -->
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <form [formGroup]="signupform" (ngSubmit)="onSignUp(signupform)">
        <!-- <ion-list inset [@bounceInBottom]="formState"> -->
        <ion-row>
          <ion-item>
            <ion-label floating>
              <ion-icon name="briefcase"></ion-icon>
              Organisation name </ion-label>
            <ion-input type="text" name="insName" formControlName="insName"></ion-input>
          </ion-item>

          <div class="errorMsg" *ngIf="signupform.controls.insName.errors && (fsubmitted || signupform.controls.insName.dirty)">
            <p *ngIf="signupform.controls.insName.invalid && signupform.controls.insName.errors.required" class="inputError">Organisation Name is required !</p>
          </div>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label floating>
              <ion-icon name="mail"></ion-icon>
              Email </ion-label>
            <ion-input type="email" name="email" formControlName="email"></ion-input>
          </ion-item>

          <div class="errorMsg" *ngIf="signupform.controls.email.errors && (fsubmitted || signupform.controls.email.dirty)">
            <p *ngIf="signupform.controls.email.invalid && signupform.controls.email.errors.required" class="inputError">Email is required !</p>
            <p *ngIf="signupform.controls.password.invalid && signupform.controls.email.errors.pattern" class="inputError">Email is not valid !</p>
          </div>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-label floating>
              <ion-icon name="lock"></ion-icon>
              Password
            </ion-label>
            <ion-input type="password" name="password" formControlName="password"></ion-input>
          </ion-item>

          <div class="errorMsg" *ngIf="signupform.controls.password.errors && (fsubmitted || signupform.controls.password.dirty)">
            <p *ngIf="signupform.controls.password.invalid && signupform.controls.password.errors.required" class="inputError">Password is required !</p>
            <p *ngIf="signupform.controls.password.invalid && signupform.controls.password.errors.pattern" class="inputError">Password should be in alphanumeric !
            </p>
            <p *ngIf="signupform.controls.password.invalid && signupform.controls.password.errors.minlength" class="inputError">Password must at least 6 characters long !
          </div>
        </ion-row>

        <!-- </ion-list> -->

        <ion-row>
          <ion-col col-10 offset-1>
            <button ion-button color="customButton" id="button-align" class="login-button" type="submit">Sign Up</button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
  <!-- </div> -->
</ion-content>
