<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
  <ion-row>
    <ion-list>
      <button icon-left ion-item (click)="onAboutUs()" name="information-circle">
        <ion-icon name="information-circle"></ion-icon>About Us</button>
    </ion-list>
  </ion-row>

  <ion-row>
    <ion-list>
      <button (click)="onLogout1()" icon-left ion-item>
        <ion-icon name="log-out"></ion-icon>Logout</button>
    </ion-list>
  </ion-row>
</ion-content>
