<ion-content>
  <!-- <ion-row>
    <ion-col col-6 offset-6s>
      <h4>
        Test Book
      </h4>
    </ion-col>
  </ion-row> -->
  <ion-slides pager='true' id='slidesMargiin'>

    <ion-slide id="color">
      <img src="./assets/image/book.png" />
      <p id="content1">Get Comprehensive Study Material</p>
      <p id="content2">Complete Preparation With PDF File</p>
    </ion-slide>

    <ion-slide id="color">
      <img src="./assets/image/hey.png" />
      <p id="content3">Use App , Improve Performance</p>
      <p id="content4"></p>
    </ion-slide>

    <ion-slide id="color">
      <img src="./assets/image/coding.png" />
      <p id="content5">Use This App Faster & Faster</p>
      <p id="content6">Save Valuable Time</p>
    </ion-slide>
  </ion-slides>

  <div id="alignment">

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button class="btn_margin1" ion-button color="light" (click)="onRegister()">Register</button>
        </ion-col>
        <ion-col col-6>
          <button class="btn_margin1" ion-button color="light" (click)="onLogin()">Login</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
