page-slides {
}
.swiper-pagination {
  // margin-bottom: 0px;
}
.btn_margin1 {
  text-transform: uppercase;
  border: none;
  color: #303030;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: #f8f8f8;
  border-radius: 0px;
  height: 2em;
  overflow: hidden;
}

[col-6]:first-child {
  border-right: 1px solid #dedede;
}

[col-6] {
  text-align: center;
}

#slidesMargiin {
  display: block;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 53px);
}

#alignment {
  background: #f8f8f8;
  padding: 4px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.content-ios:not([no-bounce]) > .scroll-content::before {
  bottom: 0px !important;
}
element {
  background: #f8f8f8;
}

.vertical {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  z-index: 10;
  top: 10;
}

#content1 {
  color: #404040;
  font-weight: bold;
  font-size: 15px;
}

#content2 {
  color: #404040;
  font-weight: normal;
  font-size: 12px;
}

#content3 {
  color: #404040;
  font-weight: bold;
  font-size: 15px;
}

#content5 {
  color: #404040;
  font-weight: bold;
  font-size: 15px;
}

#content6 {
  color: #404040;
  font-weight: normal;
  font-size: 12px;
}

.button-md {
  box-shadow: inherit;
}

ion-slides {
  display: block;
  width: 100%;
  height: 90.8%;
}
