<!--
  Generated template for the PrivacyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row text-justify>
    <h6 style="text-align:left">Privacy Policy</h6>
    This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information'
    (PII) is being used online. PII, as described in US privacy law and information security, is information that can be
    used on its own or with other information to identify, contact, or locate a single person, or to identify an individual
    in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or
    otherwise handle your Personally Identifiable Information in accordance with our app.
  </ion-row>

  <ion-row text-justify>
    <h6 style="text-align:left ; margin-top:10px">What personal information do we collect from the people that visit our App? </h6>
    When registering on our App, as appropriate, you may be asked to enter your email address, phone number, password or other
    details to help you with your experience.
  </ion-row>

  <ion-row text-justify>
    <h6 style="text-align:left ; margin-top:10px">When do we collect information? </h6>
    We collect information from you when you register on our app or enter information on our app.
  </ion-row>

  <ion-row text-justify>
    <h6 style="text-align:left ; margin-top:10px">How do we use your information? </h6>
    We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to
    a survey or marketing communication, or use certain other app features in the following ways:
    <ul>
      <li>
        To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most
        interested.
      </li>
      <li> To improve our app in order to better serve you. To allow us to better service you in responding to your customer service
        requests.
      </li>
      <li>To quickly process your transactions.</li>
      <li> To ask for ratings and reviews of services or products To follow up with them after correspondence. </li>

    </ul>
  </ion-row>

  <ion-row text-justify>
    <h6 style="text-align:left ; margin-top:10px">Do we use 'cookies'? </h6>
    Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web
    browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and
    remember certain information </ion-row>




  <ion-row text-justify>
    <h6 style="text-align:left ; margin-top:10px">If users disable cookies in their browser: </h6>
    If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.Some
    of the features that make your site experience more efficient and may not function properly. </ion-row>

  <ion-row text-justify>
    <h6 style="text-align:left ; margin-top:10px">Copyright</h6>
    All content included on this app, such as questions, question category,answer, other textual material, graphics, logos, button
    icons, images, audio clips, digital downloads, data compilations, and software, is the property of Testbook or its licensors
    and is protected by Indian and International copyright laws. The compilation of all content on this site is the exclusive
    property of Testbook app, with copyright authorship for this collection by Testbook, and protected by Indian and International
    copyright laws.
  </ion-row>

  <ion-row text-justify>
    <h6 style="text-align:left ; margin-top:10px">Third-party disclosure </h6>
    We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide
    users with advance notice. This does not include website hosting partners and other parties who assist us in operating
    our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential.
    We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or
    protect ours or others' rights, property or safety. </ion-row>

  <ion-row text-justify>
    <h6 style="text-align:left ; margin-top:10px">If at any time you would like to unsubscribe from receiving future emails, you can email us at</h6>
    support@testbook.com and we will promptly remove you from ALL correspondence. </ion-row>
  <ion-row text-justify>

    <h6 style="text-align:left ; margin-top:10px">Changes to our Privacy Policy</h6>
    If we decide to change our privacy policy, we will post those changes on this page. </ion-row>
  <ion-row text-justify>
    <h6 style="text-align:left ; margin-top:10px">Contacting Us</h6>
    If there are any questions regarding this privacy policy, you may contact us using the information below.
    <br>
    <br>testbook.com
    <br> #B3-425, 4th Floor,
    <br> Spaze I Tech Park, Sohna Road,
    <br> Gurugram
  </ion-row>




</ion-content>
